:root {
  --primary: #ffffff;
  --secondary: #ff4a11;
  --secondary-light: #fddcd2;
  --white: #ffffff;
  --black: #252629;
  --ff-primary: sans-serif;
  --ff-serif: serif;
  --fs-200: 0.6rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* gives the heading a fixed height (better readability)*/
h1,
h2,
h3 {
  line-height: 1.2;
}
/*sets the margin for the following class*/
body,
h1,
h2,
h3,
p {
  margin: 0;
}
/*sets the default for the site*/
body {
  line-height: 1.5;
  font-family: var(--ff-primry);
  color: var(--black);
}
/*Button design*/
button {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--black);
}
/*df parent of lists*/
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*df child of lists*/
ul li,
ol li {
  list-style: none;
  padding: 0;
}
/*df for images*/
img {
  max-width: 100%;
  height: auto;
  display: block;
}
