.nav {
  background: var(--primary);
  border-top: 1px solid var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/**/
.nav__list{
  display:flex;
  justify-content: space-evenly;
}